In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_1 =  pd.read_csv("EMD_Reconstructed(i80 0400-0415).csv")
df_2 =  pd.read_csv("EMD_Reconstructed(i80 0500-0515).csv")
df_3 =  pd.read_csv("EMD_Reconstructed(i80 0515-0530).csv")

In [3]:
df_1

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
0,1,12,884,1113433136100,16.884,52.747821,6042842.116,2133117.662,14.3,6.4,2,6.947704,2.188888,2,0,0,0.00,0.00
1,1,13,884,1113433136200,16.938,53.454997,6042842.012,2133118.909,14.3,6.4,2,7.195818,3.152102,2,0,0,0.00,0.00
2,1,14,884,1113433136300,16.991,54.190893,6042841.908,2133120.155,14.3,6.4,2,7.522104,3.871618,2,0,0,0.00,0.00
3,1,15,884,1113433136400,17.045,54.961816,6042841.805,2133121.402,14.3,6.4,2,7.896343,4.184370,2,0,0,0.00,0.00
4,1,16,884,1113433136500,17.098,55.771003,6042841.701,2133122.649,14.3,6.4,2,8.287402,3.906572,2,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2911,8588,731,1113433993700,53.693,1514.996798,6042674.086,2134581.846,14.9,5.9,2,19.391081,-9.073670,5,2910,2915,78.19,2.50
1048571,2911,8589,731,1113433993800,53.719,1516.884525,6042673.608,2134584.936,14.9,5.9,2,18.363451,-8.832242,5,2910,2915,78.26,2.50
1048572,2911,8590,731,1113433993900,53.746,1518.676752,6042673.131,2134588.025,14.9,5.9,2,17.481083,-8.036357,5,2910,2915,78.41,2.51
1048573,2911,8591,731,1113433994000,53.772,1520.386896,6042672.653,2134591.115,14.9,5.9,2,16.721810,-6.478995,5,2910,2915,78.61,2.51
1048574,2911,8592,731,1113433994100,53.799,1522.030435,6042672.176,2134594.204,14.9,5.9,2,16.148955,-4.678999,5,2910,2915,78.81,2.57

# Adding a new column in all i80 dataset

In [4]:
num_rows = df_1.shape[0]
df_1["Location"] = ['i80']*num_rows
df_1["Period"] = ['4:00PM - 4:15PM']*num_rows
df_1.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway,Location,Period
0,1,12,884,1113433136100,16.884,52.747821,6042842.116,2133117.662,14.3,6.4,2,6.947704,2.188888,2,0,0,0.0,0.0,i80,4:00PM - 4:15PM
1,1,13,884,1113433136200,16.938,53.454997,6042842.012,2133118.909,14.3,6.4,2,7.195818,3.152102,2,0,0,0.0,0.0,i80,4:00PM - 4:15PM
2,1,14,884,1113433136300,16.991,54.190893,6042841.908,2133120.155,14.3,6.4,2,7.522104,3.871618,2,0,0,0.0,0.0,i80,4:00PM - 4:15PM
3,1,15,884,1113433136400,17.045,54.961816,6042841.805,2133121.402,14.3,6.4,2,7.896343,4.184370,2,0,0,0.0,0.0,i80,4:00PM - 4:15PM
4,1,16,884,1113433136500,17.098,55.771003,6042841.701,2133122.649,14.3,6.4,2,8.287402,3.906572,2,0,0,0.0,0.0,i80,4:00PM - 4:15PM

In [5]:
df_2["Location"] = ['i80']*num_rows
df_2["Period"] = ['5:00PM - 5:15PM']*num_rows
df_2.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway,Location,Period
0,284,63,526,1113436773200,41.375,83.945174,6042864.125,2133138.844,15.4,5.9,2,26.503468,5.673412,4,0,0,0.0,0.0,i80,5:00PM - 5:15PM
1,284,64,526,1113436773300,41.375,86.630512,6042863.571,2133143.309,15.4,5.9,2,27.203295,8.238863,4,0,0,0.0,0.0,i80,5:00PM - 5:15PM
2,284,65,526,1113436773400,41.374,89.397060,6042863.016,2133147.775,15.4,5.9,2,28.127674,10.137441,4,0,0,0.0,0.0,i80,5:00PM - 5:15PM
3,284,66,526,1113436773500,41.373,92.262882,6042862.462,2133152.241,15.4,5.9,2,29.188753,10.956390,4,0,0,0.0,0.0,i80,5:00PM - 5:15PM
4,284,67,526,1113436773600,41.372,95.237186,6042861.904,2133156.736,15.4,5.9,2,30.297327,11.081609,4,0,0,0.0,0.0,i80,5:00PM - 5:15PM

In [6]:
df_3["Location"] = ['i80']*num_rows
df_3["Period"] = ['5:15PM - 5:30PM']*num_rows
df_3.head()

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway,Location,Period
0,3,613,1153,1113437626200,28.369,67.290627,6042851.531,2133134.762,12.8,6.8,2,4.929700,1.064082,3,9,0,21.17,2.39,i80,5:15PM - 5:30PM
1,3,614,1153,1113437626300,28.370,67.789941,6042851.469,2133135.258,12.8,6.8,2,5.056585,1.453711,3,9,0,21.59,2.44,i80,5:15PM - 5:30PM
2,3,615,1153,1113437626400,28.372,68.303695,6042851.346,2133136.250,12.8,6.8,2,5.218489,1.758948,3,9,0,21.51,2.43,i80,5:15PM - 5:30PM
3,3,616,1153,1113437626500,28.374,68.834859,6042851.223,2133137.243,12.8,6.8,2,5.404807,1.938183,3,9,0,21.42,2.42,i80,5:15PM - 5:30PM
4,3,617,1153,1113437626600,28.375,69.385326,6042851.143,2133137.889,12.8,6.8,2,5.604517,2.024664,3,9,0,21.58,2.44,i80,5:15PM - 5:30PM

In [7]:
df_1['Period'].unique()

array(['4:00PM - 4:15PM'], dtype=object)

In [10]:
df_1.to_csv('Updated_i80(04-0415).csv', index = False)
df_2.to_csv('Updated_i80(05-0515).csv', index = False)

In [11]:
df_3.to_csv("Updated_i80(0515-0530).csv", index = False)

## Combining all updated datasets in one(i80)

In [12]:
# Combine the datasets
combined_i80 = pd.concat([df_1,df_2,df_3], axis=0)

# Reset the index of the combined dataset
combined_i80.reset_index(drop=True, inplace=True)
combined_i80

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway,Location,Period
0,1,12,884,1113433136100,16.884,52.747821,6042842.116,2133117.662,14.3,6.4,2,6.947704,2.188888,2,0,0,0.00,0.00,i80,4:00PM - 4:15PM
1,1,13,884,1113433136200,16.938,53.454997,6042842.012,2133118.909,14.3,6.4,2,7.195818,3.152102,2,0,0,0.00,0.00,i80,4:00PM - 4:15PM
2,1,14,884,1113433136300,16.991,54.190893,6042841.908,2133120.155,14.3,6.4,2,7.522104,3.871618,2,0,0,0.00,0.00,i80,4:00PM - 4:15PM
3,1,15,884,1113433136400,17.045,54.961816,6042841.805,2133121.402,14.3,6.4,2,7.896343,4.184370,2,0,0,0.00,0.00,i80,4:00PM - 4:15PM
4,1,16,884,1113433136500,17.098,55.771003,6042841.701,2133122.649,14.3,6.4,2,8.287402,3.906572,2,0,0,0.00,0.00,i80,4:00PM - 4:15PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3145720,1757,6959,1386,1113438260800,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,-0.000091,3,1744,1764,158.90,9999.99,i80,5:15PM - 5:30PM
3145721,1757,6960,1386,1113438260900,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,0.000089,3,1744,1764,159.68,9999.99,i80,5:15PM - 5:30PM
3145722,1757,6961,1386,1113438261000,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,-0.000159,3,1744,1764,160.65,9999.99,i80,5:15PM - 5:30PM
3145723,1757,6962,1386,1113438261100,29.320,654.857278,6042779.679,2133721.623,30.3,8.5,3,0.000000,0.000182,3,1744,1764,161.68,9999.99,i80,5:15PM - 5:30PM
3145724,1757,6963,1386,1113438261200,29.320,654.857278,6042779.684,2133721.583,30.3,8.5,3,0.000000,-0.000287,3,1744,1764,162.69,9999.99,i80,5:15PM - 5:30PM

In [13]:
combined_i80.to_csv("Combined_i80.csv", index = False)